
/* Media query for tablets */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* Media query for mobile devices */
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: olive ; /* brown background */
  color: oldlace; /* white text color */
  margin: 0;
  padding: 0;
}

header {
  font-family: Arial, sans-serif;
  background-color: oldlace;
  color: olive;
  padding: 20px 0;
}

button {
  text-decoration: none;
  background-color:olive; /* Dark background */
  color: oldlace; /* White text color */
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: olive; /* Darker background on hover */
}

.container {
  width: 80%;
  margin: 0 auto;
}


footer {
  background-color: oldlace;
  color: olive;
  padding: 20px 0;
  text-align: center;
}