body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: oldlace;
  color: oldlace;
  margin: 0;
  padding: 0;
}

header {
  background-color: oldlace;
  color: olive;
  padding: 20px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw; /* Adjust the font size based on viewport width */
    color: oldlace;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 2vw; /* Adjust margin based on viewport width */
}

button {
  font-size: 18px;
  background-color: oldlace;
  color: olive;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  transition: background-color 0.3s ease;
  font-weight: bold; /* Set font weight to bold */
}

button:hover {
  background-color: rgb(211, 211, 163);
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.container {
  flex-basis: calc(50% - 20px);
  background-color: olive;
  padding: 20px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-direction: row;
}

.image-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
  padding: 0 10px;
  transition: transform 0.3s ease; /* Add transition for smooth scaling */
}

.image-container img:hover {
  transform: scale(1.1); /* Scale the image to 110% on hover */
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }

  .container {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .image-container {
    flex-direction: column;
  }

  .image-container img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .image-container img {
    width: 160px;
    height: 160px;
  }
}

.contact-list {
  font-size: 16px;
}

.contact-item {
  margin-bottom: 10px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

footer {
  background-color: olive;
  color: oldlace;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ccc;
}
